//stylus -c -w -u nib -o C:\xampp\htdocs\test\mariachi\public\css C:\xampp\htdocs\test\mariachi\public\stylus\inicio.styl
@import "nib"
@import "normalize.styl"

/***	Fuentes 	***/
@font-face 
	font-family: 'icons';
	src:url('../fonts/icomoon.eot?jwgjtr');
	src:url('../fonts/icomoon.eot?#iefixjwgjtr') format('embedded-opentype'),
		url('../fonts/icomoon.woff?jwgjtr') format('woff'),
		url('../fonts/icomoon.ttf?jwgjtr') format('truetype'),
		url('../fonts/icomoon.svg?jwgjtr#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
	
/***	Mixins		***/
icomoon-font(color,icon,size)
	font-family 'icons'
	color color
	content icon
	font-size size
	vertical-align bottom
font(size,color,type)
	color color
	font-size size
	font-weight type
	
/*** 	clases de inconos 	***/
.icon-location:before
	icomoon-font(#FFF,'\e601',1.3em)
.icon-mobile:before
	icomoon-font(#FFF,'\e602',1.3em)
.icon-phone:before
	icomoon-font(#FFF,'\e600',1.3em)
	
/*** 	clases generales 	***/
.contenido_centrado
	margin 0 auto
	width 70%
.float_center
	margin 0 auto
.float_left
	float left
.float_right
	float right
.justificado
	text-align justify
.posicion_fija 
	position fixed
.texto_centrado
	text-align center

/*** 	paleta de colores 	***/
verde_A = #96CD56
verde_B = #55A938
verde_C = #208240
verde_D = #0E5B56

gris_A = #F7F7F7
gris_AA = #F5F5F5
gris_B = #EAEAEA

melon = #E2947D
.backgroundVerde_A
	background verde_A
.backgroundVerde_B
	background verde_B
.backgroundVerde_C
	background verde_C
.backgroundVerde_D
	background verde_D

.nota
	font(.7em,#696969,normal)
html
	/*background url(../img/background_mariachi.jpg) no-repeat center center fixed*/
	background-size cover
#contenedor
	position relative
	z-index 200
	#contacto 
		background #FFF
		&-contenedor
			overflow hidden
			padding-bottom 50px
		&-form
			background #f1f1f1
			border-radius 10px
			box-shadow 2px 2px 10px
			padding 10px 20px
			overflow hidden
			width 55%
			&-btn
				background #3388cc
				border 1px solid #3388cc
				padding 10px 20px
				transition .6s
				font(1em,#FFF,bold)
				&:hover
					background #76aadc
			&-tbl
				border-collapse initial
				border-spacing 15px 25px
				width 100%
				caption
					font-size 1.3em
					font-weight bold
				tbody
					tr
						td
							input
							textarea
								border 1px solid #999
								border-radius 3px
								box-sizing border-box
								padding 6px 10px
								width 100%
							textarea
								height 90px
								resize none
		&-informacion
			width 35%
			&-mapa
				height 150px
				width 100%
			&-telefonos
				list-style none
				li:before
					color #000 !important
					margin-top .5em
	#precios
		background #FFF
		&-contenedor
			padding 70px 0
			&-tbl
				margin-bottom 20px
				margin-top 50px
				position relative
				width 70%
				tbody
					tr
						&:nth-child(even)
							background #F5F5F5
						td
							position relative
							&:first-child
								padding 10px 20px
								font(1em,#FFF,normal)
								&.backgroundVerde_A
									.muesca
										border-left 30px solid verde_A
								&.backgroundVerde_B
									.muesca
										border-left 30px solid verde_B
								&.backgroundVerde_C
									.muesca
										border-left 30px solid verde_C
								&.backgroundVerde_D
									.muesca
										border-left 30px solid verde_D
							span
								display block
							.muesca
								border-top 28px solid transparent
								border-right 0px solid transparent 
								border-bottom 28px solid transparent 
								bottom 0
								position absolute
								right -30px
				tfoot
					tr
						td
							.seleccionado-footer
								bottom 0
								box-shadow 0 3px 10px
								position absolute 
								top 42px
								width 33.4%
				thead
					tr
						td
							position relative
							width 30%
							font(1.1em,#696969,bold)
							.seleccionado-heder
								background gris_B
								border-radius 10px 10px 0 0
								box-shadow 0 0 10px
								padding 10px 0
	#repertorio
		background rgba(0,0,0,.6)
		padding 3em 0
		&-contenedor
			display flex
			flex-wrap wrap
			font(1em,#FFF,normal)
			ul
				background #FFF
				border-radius 5px
				box-shadow 1px 1px 5px
				list-style none
				padding 10px 15px 
				margin auto
				li
					font(.8em,#696969,normal)
					&:before
						content '♪ '
				span
					display block
					text-align center
					font(1.2em,#000,bold)
					hr
						border 1px solid #000
	#somos
		background melon
		position relative
		&-contenedor
			padding 4em 0
			&-header
				width 100
		&-flecha
			border-bottom 0
			border-left 100px solid transparent
			border-right 100px solid transparent
			border-top 70px solid melon
			bottom -70px
			left 45%
			position absolute
			width 0
	#footer
		background #33363b
		border-top 2px solid #05A2C1
		p
			margin 0
			padding 20px 0
			text-align center
			font(.8em,#FFF,bold)
#fondo_secundario
	background url('../img/background_mariachi_content.jpg') no-repeat center center fixed
	background-size cover
	display none
	overflow hidden
	position fixed
	width 100%
	z-index 150
#presentacion
	background rgba(0,0,0,.6)
	//background #FFF
	color #FFF
	overflow hidden
	position fixed
	width 100%
	z-index 100
	&-contacto
		bottom 20px
		overflow hidden
		padding 0 5%
		position absolute
		width 90%
		>*
			display inline-block
		&-telefonos
			ul
				list-style none
				padding 0
				li
					margin-top .5em
	&-frase
		font-size 1.2em
		margin 5em auto 0 !important
		width 50%
	&-subtitulo
		font-size 2.3em
		margin-top 7.3em
		margin-bottom 0
		text-shadow 2px 2px #000
	&-titulo
		font-size 4em
		margin-top 0
		text-shadow 2px 2px #000
	