//stylus -c -w -u nib -o C:\xampp\htdocs\test\mariachi\public\css C:\xampp\htdocs\test\mariachi\public\stylus\inicio.styl
@import "nib"
@import "normalize.styl"

/***	Fuentes 	***/
@font-face 
	font-family: 'icons';
	src:url('../fonts/icomoon.eot?jwgjtr');
	src:url('../fonts/icomoon.eot?#iefixjwgjtr') format('embedded-opentype'),
		url('../fonts/icomoon.woff?jwgjtr') format('woff'),
		url('../fonts/icomoon.ttf?jwgjtr') format('truetype'),
		url('../fonts/icomoon.svg?jwgjtr#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
	
/***	Mixins		***/
icomoon-font(color,icon,size)
	font-family 'icons'
	color color
	content icon
	font-size size
	vertical-align bottom
font(size,color,type)
	color color
	font-size size
	font-weight type
	
/*** 	clases de inconos 	***/
.icon-location:before
	icomoon-font(#FFF,'\e601',1.3em)
.icon-mobile:before
	icomoon-font(#FFF,'\e602',1.3em)
.icon-phone:before
	icomoon-font(#FFF,'\e600',1.3em)
	
/*** 	clases generales 	***/
.contenido_centrado
	margin 0 auto
	width 70%
.float_left
	float left
.float_right
	float right
.justificado
	text-align justify
.posicion_fija 
	position fixed
.texto_centrado
	text-align center
	
html
	/*background url(../img/background_mariachi.jpg) no-repeat center center fixed*/
	background-size cover
#contenedor
	position relative
	z-index 200
	#contacto 
		background #FFF
		&-contenedor
			margin 0 auto
			overflow hidden
			padding-bottom 50px
			width 70%
		&-form
			background #f1f1f1
			border-radius 10px
			box-shadow 2px 2px 10px
			padding 10px 20px
			overflow hidden
			width 55%
			&-btn
				background #3388cc
				border 1px solid #3388cc
				padding 10px 20px
				transition .6s
				font(1em,#FFF,bold)
				&:hover
					background #76aadc
			&-tbl
				border-collapse initial
				border-spacing 15px 25px
				width 100%
				caption
					font-size 1.3em
					font-weight bold
				tbody
					tr
						td
							input
							textarea
								border 1px solid #999
								border-radius 3px
								box-sizing border-box
								padding 6px 10px
								width 100%
							textarea
								height 90px
								resize none
		&-informacion
			width 35%
			&-mapa
				height 150px
				width 100%
			&-telefonos
				list-style none
	#repertorio
		background rgba(0,0,0,.7)
		padding 3em 0
		&-contenedor
			display flex
			flex-wrap wrap
			margin 0 auto
			width 70%
			font(1em,#FFF,normal)
			ul
				background #FFF
				border-radius 5px
				box-shadow 1px 1px 5px
				list-style none
				padding 10px 15px 
				margin auto
				li
					font(.8em,#696969,normal)
					&:before
						content '♪ '
				span
					display block
					text-align center
					font(1.2em,#000,bold)
					hr
						border 1px solid #000
	#footer
		background #33363b
		border-top 2px solid #05A2C1
		p
			margin 0
			padding 20px 0
			text-align center
			font(.8em,#FFF,bold)
#fondo_secundario
	background url('../img/background_mariachi_content.jpg') no-repeat center center fixed
	background-size cover
	overflow hidden
	position fixed
	width 100%
	z-index 50
#presentacion
	background rgba(0,0,0,.6)
	//background #FFF
	color #FFF
	overflow hidden
	position fixed
	z-index 100
	&-contacto
		bottom 20px
		overflow hidden
		padding 0 5%
		position absolute
		width 90%
		>*
			display inline-block
		&-telefonos
			ul
				list-style none
				padding 0
				li
					margin-top .5em
	&-frase
		font-size 1.2em
		margin 40px auto 0 !important
		width 50%
	&-titulo
		font-size 4em
		margin-top 4.3em
		text-shadow 2px 2px #000
	